h2 {
    color: white;
}
h4 {
    font-weight: normal;
    color: rgb(156, 156, 156);
}

.parentProduct{
    margin-left: 223px;
    margin-top: 60px;
}

.list {
    text-decoration: none;
    margin: 0 40px 40px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90px;
    background: #404040;
    border-radius: 5px;
    justify-content: space-between;
    color: black;
}
.list:hover{
    transition: all 0.1s ease-in-out;
    transform: translateY(-3px);
}
.list img {
    margin: 5px;
    height: 80px;
    border-radius: 5px;
}
.list .price {
    font-size: 20px;
    font-weight: bold;
}
.list .text-container {
    width: 120px;
    display: flex;
    flex-direction: column;
}
.list .name {
    color: rgb(156, 156, 156);
}
.publishDate-container {
    margin-left: 50px;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modifyDate-container {
    margin-top: 21px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.publishDate-container .text {
    color: black;
}

.publishDate-container .publishDate {
    color: rgb(156, 156, 156);
    margin-top: 5px;
}

.modifyDate-container .text {
    color: black;
}

.modifyDate-container .modifyDate {
    color: rgb(156, 156, 156);
    margin-top: 5px;
}
.sell {
    font-size: 20px;
    margin-left: auto;
    margin-top: 22px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 0;
    transition: all 0.1s ease-in-out;
    background-color: #404040;
}
.sell:hover {
    transform: translateY(2px);
    transition: all 0.1s ease-in-out;
    background-color: rgb(255, 109, 109);
    color: white;
}
.reserve {
    font-size: 18px;
    margin-left: auto;
    margin-top: 22px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 0;
    transition: all 0.1s ease-in-out;
    background-color: #404040;
}
.reserve:hover {
    transform: translateY(2px);
    transition: all 0.1s ease-in-out;
    background-color: rgb(109, 177, 255);
    color: white;
}
.edit {
    font-size: 20px;
    margin-left: auto;
    margin-top: 22px;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 0;
    transition: all 0.1s ease-in-out;
    background-color: #404040;
}
.edit:hover {
    transform: translateY(2px);
    transition: all 0.1s ease-in-out;
    background-color: #30ab53;
    color: white;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.checkbox{
    margin: 37px 0 0 0;
    position: absolute;
}
.checkboxSave{
    text-align: center;
}

@media screen and (max-width: 1049px) {
    .modifyDate-container {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .publishDate-container {
        display: none;
    }
    .sell {
        margin-top: 30px;
        height: 30px;
        width: 30px;
    }
    .reserve {
        margin-top: 32px;
        height: 30px;
        width: 30px;
    }
    .edit {
        margin-top: 30px;
        height: 30px;
        width: 30px;
        margin-right: 30px;
    }
}


@media screen and (max-width: 950px){
    .parentProduct{
        margin-left: 40px;
        margin-top: 60px;
    }
    .list {
        margin-left: 40px;
    }
    .checkbox{
        margin-left: 5px;
        position: absolute;
    }
}

@media screen and (max-width: 650px) {
    .list {
        flex-direction: column;
        height: 100px;
    }
    .list img {
        margin: 5px;
        height: 90px;
        width: 90px;
        border-radius: 5px;
    }
    .list .price {
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;
    }
    .list .text-container {
        width: 120px;
        display: flex;
        flex-direction: column;
    }
    .buttons {
        margin-bottom: 5px;
    }
    .sell {
        margin-left: 0px;
        margin-top: 0px;
        height: 30px;
        width: 30px;
    }
    .reserve {
        margin-left: 0px;
        margin-top: 0px;
        height: 30px;
        width: 30px;
    }
    .edit {
        margin-top: 0px;
        height: 30px;
        width: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 650px) {


}

.tabs {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.tabs label {
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 5px;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    cursor: pointer;
    background-color: #2d3d2c;
    font-weight: bold;
    transition: background ease 0.3s;
}

.tabs .tab {
    border-radius: 5px 50px;
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    padding: 1rem;
    background: #5c5c5c;
    padding: 20px;
    box-shadow: -10px 10px 0px 0px black;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked + label {
    background: #5c5c5c;
}

.tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

.imgContainer{
    position: relative;
}
.reserved{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    transition: .5s ease;
    opacity:1;
    color: #118df8;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}