@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #181818;

}
h2 {
    color: white;
}
h4 {
    font-weight: normal;
    color: rgb(156, 156, 156);
}
.parent {
    margin-left: 230px;
    margin-top: 60px;
}
.listProfile1 {
    height: 320px;
    margin-right: 40px;
    margin-bottom: 20px;
    padding: 30px;
    background: #404040;
    border-radius: 5px;
    justify-content: space-between;
}
#email {
    width: 100%;
    transition: all 0.1s ease-in-out;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    color:black;
}

#email:focus {
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px #30ab53;
    -moz-box-shadow: 0 0 0 5px #30ab53;
    -webkit-box-shadow: 0 0 0 5px #30ab53;
    -o-box-shadow: 0 0 0 5px #30ab53;
}

.cat1 {
    margin-top: -5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.container label {
    color: rgb(116, 116, 116);
}
.date {
    position: relative;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.emailProfile {
    position: relative;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
#date {
    width: 100%;
    transition: all 0.1s ease-in-out;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    color: rgb(146, 146, 146);
}
.container label {
    color: rgb(150, 149, 149);
}

#date:focus {
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px #30ab53;
    -moz-box-shadow: 0 0 0 5px #30ab53;
    -webkit-box-shadow: 0 0 0 5px #30ab53;
    -o-box-shadow: 0 0 0 5px #30ab53;
}
#date[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.radio-buttons {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
}
.sexo {
    color: rgb(255, 255, 255);
}
.wrapper {
    margin-bottom: 10px;
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 10px;
}
.wrapper .option {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}
.wrapper .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
}
.wrapper .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #30ab53;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}
input[type="radio"] {
    display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3 {
    border-color: #30ab53;
    background: #30ab53;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot,
#option-3:checked:checked ~ .option-3 .dot {
    background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before,
#option-3:checked:checked ~ .option-3 .dot::before {
    opacity: 1;
    transform: scale(1);
}
.wrapper .option span {
    font-size: 20px;
    color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span,
#option-3:checked:checked ~ .option-3 span {
    color: #fff;
}

.save {
    transition: all 0.3s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.save button {
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-size: 13px;
    line-height: 10px;
    border-radius: 20px;
    background-color: #30ab53;
}
.save button:hover {
    background-color: #268841;
}

.listProfile2 {
    height: 320px;
    margin-right: 40px;
    margin-bottom: 20px;
    padding: 30px;
    background: #404040;
    border-radius: 5px;
    justify-content: space-between;
}
#username {
    width: 100%;
    transition: all 0.1s ease-in-out;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
}

#username:focus {
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px #30ab53;
    -moz-box-shadow: 0 0 0 5px #30ab53;
    -webkit-box-shadow: 0 0 0 5px #30ab53;
    -o-box-shadow: 0 0 0 5px #30ab53;
}

#surname {
    width: 100%;
    transition: all 0.1s ease-in-out;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
}

#surname:focus {
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px #30ab53;
    -moz-box-shadow: 0 0 0 5px #30ab53;
    -webkit-box-shadow: 0 0 0 5px #30ab53;
    -o-box-shadow: 0 0 0 5px #30ab53;
}

#location {
    width: 100%;
    transition: all 0.1s ease-in-out;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
}

#location:focus {
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px #30ab53;
    -moz-box-shadow: 0 0 0 5px #30ab53;
    -webkit-box-shadow: 0 0 0 5px #30ab53;
    -o-box-shadow: 0 0 0 5px #30ab53;
}

.cat2 {
    margin-top: -5px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.container2 label {
    color: rgb(150, 149, 149);
}
.usernameProfile {
    position: relative;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.surname {
    position: relative;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.location {
    position: relative;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
#date {
    width: 100%;
    transition: all 0.1s ease-in-out;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    color: rgb(146, 146, 146);
}
.container label {
    color: rgb(150, 149, 149);
}

#date:focus {
    transition: all 0.1s ease-in-out;
    box-shadow: 0px 0px #30ab53;
    -moz-box-shadow: 0 0 0 5px #30ab53;
    -webkit-box-shadow: 0 0 0 5px #30ab53;
    -o-box-shadow: 0 0 0 5px #30ab53;
}
#date[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.save2 {
    transition: all 0.3s ease;
    width: 100%;
    display: flex;
    justify-content: center;
    margin:20px 0 20px 0;
}

.save2 button {
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-size: 13px;
    line-height: 10px;
    border-radius: 20px;
    background-color: #30ab53;
}
.save2 button:hover {
    background-color: #268841;
}

@media screen and (max-width: 1049px) {
}

@media screen and (max-width: 500px) {
    .wrapper {
        position: relative;
        text-align: left;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .wrapper .option {
        justify-content: flex-start;
        margin-top: 10px;
    }
    .save {
        transition: all 0.3s ease;
        margin-top: 100px;
    }
}

@media screen and (max-width: 370px) {
    .radio-buttons {
        flex-direction: column;
    }
}

@media screen and (max-width: 950px) {
    .parent {
        margin-left: 40px;
    }
}
