html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: #181818;
    margin-top: 60px;
    background-image: url("../img/cover.png");
}

/* HEADER */
.header {
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
    height: 30px;
    margin: 0 -8px 0 -8px;
    padding: 10px 10px;
    text-shadow: 2px 2px 4px #000000;
    background-color: #202020;
}

.header a {
    margin-left: 20px;
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
    line-height: 10px;
    border-radius: 4px;
}

.header a.logo {
    margin: -5px 0 0 30px;
    font-size: 20px;
    font-weight: bold;
}

.header a.logo:hover {
    color: #30ab53;
}

.header-right a:hover {
    background-color: #30ab53;
    color: white;
}

/* Float the link section to the right */
.header-right {
    margin-right: 35px;
    float: right;
}

/*SEARCH BAR*/

.search {
    position: relative;
    display: flex;
    margin: 0 20px 0 25px;

}

.searchTerm {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border: 1px solid #474747;
    border-right: none;
    height: 26px;
    border-radius: 2px 0 0 2px;
    outline: none;
    color: #ffffff;
    background-color: #121212;
}

.searchTerm:focus {
    color: #ffffff;
    border: 1px solid #3462fc;
}

.searchButton {
    width: 30px;
    height: 30px;
    border: 1px solid #474747;
    background: #474747;
    text-align: center;
    color: rgb(156, 156, 156);
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    font-size: 10px;
}

.searchButton:hover {
    border: 1px solid #363636;
    background: #363636;
    color: white;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    left: 0;
    right: 0;
    margin: 0 275px 0 175px;
    position: absolute;
}
.addProduct {
    display: none;
    visibility: collapse;
}
.containerProduct {
    padding: 15px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
}
.containerProduct a{
    text-decoration: none;
}
.userContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.rating {
    display: flex;
    flex-direction: column;
}
.image {
    margin: 10px 10px 10px 10px;
    vertical-align: top;
}
.image img {
    border-radius: 5px;
    width: 100%;
}
.price {
    font-size: 30px;
    top: 10px;
    margin-top: -5px;
}

.price i {
    font-size: 26px;
}

.productName {
    font-weight: normal;
}

.subInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottomInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rightShit{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.userName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    margin: 0 15px 0 15px;
}
.description{
    margin-bottom: 100px;
}
.message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    margin: 0 15px 0 15px;
    cursor: pointer;
}
.messageButton{
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    border: none;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}
.messageButton:hover{
    background-color: #30ab53;
    color: white;
}

.add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    margin: 0 15px 0 15px;
    cursor: pointer;
}
.addButton{
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    border: none;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgb(100, 100, 100);
    cursor: pointer;
}
.addButton:hover{
    background-color: #30ab53;
    color: white;
}

.sell {
    font-size: 20px;
    margin-left: auto;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 0;
    transition: all 0.1s ease-in-out;
    background-color: rgb(100, 100, 100);
}
.sell:hover {
    transition: all 0.1s ease-in-out;
    background-color: rgb(255, 109, 109);
    color: white;
}
.reserve {
    font-size: 18px;
    margin-left: auto;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 0;
    transition: all 0.1s ease-in-out;
    background-color: rgb(100, 100, 100);
}
.reserve:hover {
    transition: all 0.1s ease-in-out;
    background-color: rgb(109, 177, 255);
    color: white;
}
.edit {
    font-size: 20px;
    margin-left: auto;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 0;
    transition: all 0.1s ease-in-out;
    background-color: rgb(100, 100, 100);
}
.edit:hover {
    transition: all 0.1s ease-in-out;
    background-color: #30ab53;
    color: white;
}
.delete {
    font-size: 20px;
    margin-left: auto;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 0;
    transition: all 0.1s ease-in-out;
    background-color: rgb(100, 100, 100);
}
.delete:hover {
    transition: all 0.1s ease-in-out;
    background-color: #ff0023;
    color: white;
}
.buttons{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1100px) {
    .containerProduct {
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 550px) {

    .containerProduct {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 150px;
    }
    .header {
        height: 155px;
        margin-right: 20px;
    }

    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header .logo {
        margin: auto;
        transform: translateX(-12px);
    }

    .header-right {

        margin: 5px 20px 5px 5px;
        float: none;
    }

    .wrap {
        margin: auto;
        width: 100%;
        text-align: left;
        position: relative;
    }

    .home-title {
        margin-top: 150px;
        font-size: 25px;
    }

    .addProduct {
        display: inline;
        visibility: visible;
    }
}
.image{
    position: relative;
}
.reserved{
    position: absolute;
    bottom: 4px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    color: #118df8;
    font-size: 20px;
    border-radius: 5px;
    justify-content: center;
    /* text-align: center; */
    height: 100%;
    display: flex;
    align-content: flex-start;
    align-items: center;
}